body {
 background-color: rgb(79, 57, 243);
  font: normal 20pt Arial;
}

header {
color: white;
text-align: center;
color: white;
}

section {
  color: rgb(11, 11, 15);
 background-color: rgb(241, 248, 243);
border-radius: 10px;
padding: 20px;
width: 500px;
margin: auto;
font-style: italic;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.308);
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.308);

}

select#flista {
width: 150px;
}


footer {
color: white;
text-align: center;
font-style: italic;
padding: 21px;
}


